.topPageContainer {
    // height: 1000px;
    // height: 100%;
    // flex: 1;
    // overflow: scroll;
}

.header {

}

.mealHistory {
    display: flex;
    flex-direction: column;
    padding: 0 160px;
    align-items: center;
}