
.cardFood {
    margin-bottom: 28px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
    gap: 8px;
}

.cardFoodItem {
    width: 234px;
    height: 234px;
    position: relative;
}

.cardFoodItemNote {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 32px;
    width: 117px;
    display: flex;
    justify-content: center;
    align-items: center;
}